<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="nfonts/icomoon/style.css">

    <link rel="stylesheet" href="ncss/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="ncss/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="ncss/styles.css">
    <link rel="stylesheet" href="assets/css/style.css">

    <title>Registrasi MoveFast</title>
  </head>
  <body>
  

    <div class="content">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <img src="nimages/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-6 contents">
              <div class="row justify-content-center">
                <div class="col-md-8">
                  <div class="mb-4">
                    <h3>Registrasi</h3>
                    <p class="mb-4">Silahkan daftarkan akun anda.</p>
                  </div>
                  <form action="#" th:action="@{/register}" th:object="${registerForm}" method="post">
                    <div class="form-group last mb-4">
                      <label for="nama">Nama Lengkap</label>
                      <input type="text" class="form-control" id="nama" th:field="*{name}">
                    </div>
                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>

                    <div class="form-group last mb-4">
                      <label for="ttl">Tempat Tanggal Lahir</label>
                      <input type="date" class="form-control" id="ttl" th:field="*{ttl}">
                    </div>
                    <span th:if="${#fields.hasErrors('ttl')}" th:errors="*{ttl}"></span>

                    <div class="form-group last mb-4">
                      <label for="nomor">No Handphone</label>
                      <input type="text" class="form-control" id="nomor" th:field="*{phoneNumber}">
                    </div>
                    <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>

                    <div class="form-group last mb-4">
                      <label for="alamat">Alamat</label>
                      <input type="text" class="form-control" id="alamat" th:field="*{address}">
                    </div>
                    <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span>

                    <div class="form-group last mb-4">
                      <label for="email">Email</label>
                      <input type="text" class="form-control" id="email" th:field="*{email}">
                    </div>
                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>

                    <div class="form-group last mb-4">
                      <label for="password">Password</label>
                      <input type="password" class="form-control" id="password" th:field="*{password}">
                    </div>
                    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>

                    <div class="d-flex mb-5 align-items-center">
                      <label class="control control--checkbox mb-0">
                        <span class="caption">Remember me</span>
                        <input type="checkbox" checked="checked" />
                        <div class="control__indicator"></div>
                      </label>
                      <span class="ml-auto"><a href="#" class="forgot-pass">Forgot Password</a></span>
                    </div>
      
                    <input type="submit" value="Daftar" class="btn btn-block btn-primary">
      
                    <span class="ml-auto">
                      Sudah punya akun? <a th:href="@{/login}" class="daftar">Login</a>
                    </span>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

  
    <script src="njs/jquery-3.3.1.min.js"></script>
    <script src="njs/popper.min.js"></script>
    <script src="njs/bootstrap.min.js"></script>
    <script src="njs/main.js"></script>
  </body>
</html>