
/* Table Styles */
.table {
  width: 100%;
  margin-bottom: 0;
  overflow-x: auto;
}

.table-striped tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table th {
  background-color: #f7f7f7;
  color: #333;
  text-align: center;
  padding: 15px 10px;
  border-bottom: 1px solid #ddd;
}

.table td {
  padding: 10px;
  vertical-align: middle;
  border-bottom: 1px solid #ddd;
}

/* Responsive Table */
@media (max-width: 768px) {
  .table thead th,
  .table tbody th,
  .table tbody td {
    display: block;
    text-align: left;
  }
  .badge-warning {
    background-color: #ff6347; /* Merah */
    color: #fff; /* Putih */
  }
  
  /* Warna untuk status Tepat Waktu */
  .badge-success {
    background-color: #28a745; /* Hijau */
    color: #ffffff; /* Putih */
  }
}